---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import KnowledgeGraph from '../components/KnowledgeGraph.astro';
import ConnectedThinking from '../components/ConnectedThinking.astro';
import MarkdownEditor from '../components/MarkdownEditor.astro';
import SmartSearch from '../components/SmartSearch.astro';
import YourData from '../components/YourData.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
import NeonDivider from '../components/NeonDivider.astro';
---

<Base>
  <Hero />
  <NeonDivider />
  <section id="features">
    <KnowledgeGraph />
  </section>
  <NeonDivider />
  <ConnectedThinking />
  <NeonDivider />
  <MarkdownEditor />
  <NeonDivider />
  <SmartSearch />
  <NeonDivider />
  <section id="data">
    <YourData />
  </section>
  <NeonDivider />
  <section id="download">
    <FinalCTA />
  </section>
  <NeonDivider />
  <Footer />
</Base>
